body{
    background-color: rgb(255, 195, 91);
    margin: 0px;
    padding: 0px;
}
#nav-bar{
    background-color: pink;
    justify-content: center;
}
.nav-center,ul,li,a{
    display: flex;
    justify-content: center;
    list-style: none; 
    gap: 15px;
    color: white;
    padding: 5px;
}
.research{
    background-color: rgb(54, 60, 243);
    border: none;
    width: 3%;
}
.search{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
input[type=text]{
    width: 40%;
    padding: 8px;
}
.container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-image: url(../imge/flow.png); */
}
.one{
    padding: 30px;
    background-color:white;
    margin: 20px 80px 10px 10px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;;
}
.two{
    color: orange;
}
.btn{
    border-radius: 3px;
    border: 1px solid black;
}
img{
    height: 150px;
    width: 120px;
}