body{
    background-color: rgb(255, 195, 91);
    margin: 0px;
    padding: 0px;
}
#nav-bar{
    display: flex;
    background-color: pink;
    justify-content: center;
}
.nav-center,ul,li,a{
    display: flex;
    justify-content: center;
    list-style: none; 
    gap: 15px;
    color: black;
    padding: 5px;
}
.link{
    margin-left: 500px;
    display: flex;
    gap: 10px;
}
.login{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.but{
    margin-right:50px;
}
.research{
    background-color: rgb(54, 60, 243);
    border: none;
    width: 3%;
}
.search{
    margin-top: 20px;
    justify-content: center;
    display: flex;
}
input[type=text]{
    width: 40%;
    padding: 8px;
}
.container{
    margin-top: 30px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.one{

    padding: 30px;
    background-color:white;
    margin: 30px 60px 20px 10px;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;;
}
.two{
    color: orange;
}
.btn{
    border-radius: 3px;
    border: 1px solid black;
    padding: 3px;
   margin-left: 100px;
}
img{
    height: 170px;
    width: 180px;
}
.text{
    margin-top: 30px;
    background-color: rgb(235, 187, 187);
    padding: 30px;
}