body{
    margin: 0px;
    padding: 0px;
}
#nav-bar{
    background-color: pink;
}
.nav-center,ul,li{
    display: flex;
    list-style: none; 
    gap: 15px;
    padding: 5px;
}
a{
    background-color: black;
    padding: 10px;
    color: white;
}
.head{
    justify-content: flex-start;
    text-align: center;
}
.contain{
    padding: 10px;
    background-color: paleturquoise;
    margin-left: 120px;
    margin-right: 120px;
}
.name{
    padding: 5px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}
input[type=text]{
    width: 30%;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
}
input[type=number]{
    width: 30%;
    padding: 8px;
    border-radius: 5px;
    margin-right: 10px;
}
input[type=file]{
    width: 30%;
    padding: 8px;
    border-radius: 5px;
    margin-right: 40px;
}
button{
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}
.footer{
    background-color:rgb(84, 136, 173);
    padding: 30px;
}

/* * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.5;
    text-decoration: none;
    list-style: none;
}
.container {
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: flex-start;
}
.form-add {
    flex: 1;
    padding: 10px;
}
.table-data {
    flex: 2;
    padding: 10px;
    border-left: 1px dotted #ccc;
}
table {
    width: 100%;
    border-collapse: collapse;
}
tr,td, th {
    border: 1px solid #ccc;
    padding: 10px;
}
th {
    background: rgb(134, 134, 134);
}
form {
   margin-bottom: 20px;
   display: flex;
}
a {
    background-color: black;
    padding: 10px;
    color: #fff;
    cursor: pointer;
} */
