<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../login/css/login.css">
</head>
<body>
    <div id="nav-bar">
        <div class="nav-center">
            <ul>
                <li>
                    <a href="">Product</a>
                    <a href="">Seller</a>
                    <a href="">Costomer</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="contain-form-1">
            <div class="form-first">
                <label>First name*</label><br>
                <input type="text" placeholder="Enter your first name">
            </div>
            <div class="form-first">
                <label>Last name*</label><br>
                <input type="text" placeholder="Enter your first name">
            </div>
        </div>
        <div class="contain-form-2">
            <div class="form-first">
                <label>Email*</label><br>
                <input type="email" placeholder="Enter your email here">
            </div>
            <div class="form-first">
                <label>Your password*</label><br>
                <input type="password" placeholder="Enter your password here">
            </div>
            <div class="form-first">
                <input type="Checkbox">
                <label> Acept to register</label>
            </div>
            <div class="form-first">
                <label>Your verification code*</label><br>
                <input type="password" placeholder="Enter your verification code here">
            </div>
        </div>
        <div class="group-img">
            <div class="group1">
                <img src="../login/img/GG.png" width="40">
                <img src="../login/img/GH.png" width="40">
                <img src="../login/img/TTG.png" width="40">
            </div>
            <div>
                <button>Login</button>
            </div>
        </div>
    </div>
</body>
</html>